In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv('winequality\winequality-red.csv')
df = pd.read_csv("spam_ham_dataset.csv")
# df.head()
keys = df.columns
keys

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [3]:
label = input("Enter column number which represents label : ")
feature = input("Enter column numbers which represents features seperated by comma")

Enter column number which represents label : 3
Enter column numbers which represents features seperated by comma2

In [4]:
print(label)
feature

3

'2'

In [5]:
feature_list = feature.split(',')
feature_list

['2']

In [6]:
label_column = keys[int(label)]
feature_columns = list()
for i in feature_list:
    feature_columns.append(keys[int(i)])
feature_columns
# label_column

['text']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [13]:
X_train

                                                   text
5132  Subject: april activity surveys\r\nwe are star...
2067  Subject: message subject\r\nhey i ' am julie ^...
4716  Subject: txu fuels / sds nomination for may 20...
4710  Subject: re : richardson volumes nov 99 and de...
2268  Subject: a new era of online medical care .\r\...
...                                                 ...
4426  Subject: re : ena sales on hpl\r\nlast that i ...
466   Subject: tenaska iv\r\nbob :\r\ni understand f...
3092  Subject: broom , bristles up , flew\r\nbe diff...
3772  Subject: calpine daily gas nomination ( weeken...
860   Subject: re : meter 1459 , 6 / 00\r\nyep , you...

[4136 rows x 1 columns]

In [14]:
Y_train

      label_num
5132          0
2067          1
4716          0
4710          0
2268          1
...         ...
4426          0
466           0
3092          1
3772          0
860           0

[4136 rows x 1 columns]